@import url('../CSS/fonts.css');

html, body{
    margin: 0%;
    box-sizing: border-box;
    overflow: hidden;
}

:root{

    /*    Theme font-family    */
    --Abel:'Abel',cursive;
    --Anton: 'Anton',cursive;
    --Josefin: 'Josefin',cursive;
    --Livvic: 'Livvic',cursive;
}



/*-----------Global-------*/

a{
    text-decoration: none;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

/*----x-------Global-----x--*/

/*-----------navbar---------*/
.nav{
    height: 0rem;
    min-height: 10vh;
    padding: 0 2rem;
    background-color: #5d4954; 
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
} 

.nav .nav-menu{
    justify-content: space-between;
}

.nav .nav-items{
    
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
}

.nav .social{
    padding: 2rem 0rem;
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Abel);
   
}
/*----X-------navbar----X----*/



/*-----main content------*/


/*--x---main content----x--*/